<!DOCTYPE html>
<html ng-app="groupApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/PPbootstrap.css"
          type="text/css">
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/pp-pages.css" type="text/css">
    <script src="main.js"></script>
    <script src="home.js"></script>
</head>
<body>
<div class="wrapper" ng-controller="groupCtrl">
    <header>
        <% include ../partials/header %>
    </header>
   dsv SDvSZ :  {{groupData}}
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
